.forgotP{
    background: "#E5744B";
    background-image: radial-gradient(circle at top right, #1e293b, #020617);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.forgotP h2{
    font-size: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color:#E5744B;
    margin-top: 10rem;
}

.forgotP p{
    font-size: 1.0rem;
    margin-top: -2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: antiquewhite;
}
.gmail-form{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.gmail-form input{
    width: 100%;
    padding:.6rem .8rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: .5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    outline: none;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.gmail-form input:focus{
    border-color: #4f46e5;
    box-shadow: 0 0 0 3px rgba(79,70,229,0.2);
}

.gmail-form input::placeholder{
    color:#9ca3af;
    font-size: .8rem;
}

.gmail-form input:disabled{
    background-color: #f3f4f6;
    cursor:not-allowed;
    color: #9ca3af;
}
.btn-forgot{
    width:60%;
    margin-top: 2.5rem;
    padding: 0.5rem;
    background-color: #4f46e5;
    color: antiquewhite;
    border: 2px solid #ccc;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    margin-top: -1rem;
}
.btn-forgot:hover{
    background-color: rgb(92, 141, 201);
    cursor: pointer;
}
.login-back{
    margin-top: 3rem;
    cursor: pointer;
}
.login-back:hover{
    color: #E5744B;
}
