.sidebar{
     width: 260px;
    height: 100vh;
    background-color: rgb(47, 58, 58);
}
.feature{
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    margin-top: 6rem;
}
.feature a{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: aliceblue;
    cursor: pointer;
    padding:8px;
    text-decoration: none;
    margin: .5rem;
}
.feature a:hover{
    color: blue;
    transform: 0.3s ease;
    -webkit-transform: 0.3s ease;
    -moz-transform: 0.3s ease;
    -ms-transform: 0.3s ease;
    -o-transform: 0.3s ease;
}