.sidebar{
     width: 260px;
    height: 100vh;
    background-color: rgb(47, 58, 58);
    position: relative;
    left: 0;
}
.feature{
     display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    margin-top: 6rem;
}
.feature a{
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: aliceblue;
    cursor: pointer;
    padding:8px;
    text-decoration: none;
    margin: .5rem;
    border-bottom: 2px solid  #302222;
}
.feature a:hover{
    color: blue;
    transform: 0.3s ease;
    -webkit-transform: 0.3s ease;
    -moz-transform: 0.3s ease;
    -ms-transform: 0.3s ease;
    -o-transform: 0.3s ease;
}

.side-setting{
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 6rem;
}

.setting-css{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 1rem;
    margin-left: .5rem;
    font-size: 1.5rem;
    gap: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color:  aliceblue;
    text-decoration: none;
    border-top: 2px solid #302222;
}
.setting-css:hover{
    color:blue;
    
}